<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">	
        
      <bean id="userDao" class="com.xuefei.demo_aop3.UserDaoImpl"></bean>  
      <bean id="aop" class="com.xuefei.demo_aop3.TransationAop"></bean> 
       
	<aop:config>
		<aop:pointcut expression="execution(* com.xuefei.demo_aop3.UserDaoImpl.*(..))" id="pc"/>
		<aop:aspect ref="aop">
			<aop:before method="begin" pointcut-ref="pc"/>
			<aop:after method="close" pointcut-ref="pc"/>
			<aop:around method="around" pointcut-ref="pc"/>
			<aop:after-returning method="afterReturning" pointcut-ref="pc"/>
			<aop:after-throwing method="afterThrowing" pointcut-ref="pc"/>
		</aop:aspect>
	</aop:config>	
</beans>      
